body {
    font-family: "Poppins", sans-serif !important;
    background: linear-gradient(90deg, #153677, #4e085f);   
}

.todolister{
    padding: 2%;
    width: 50%;
    border-radius: 5px;
}

.input-group input {
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background: #edeef0;
    border-radius: 50px;
}

.addbutton {
    background-color: #ff5945;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    width: 100px;
}

.errormsgsize {
    font-size: 12px;
    padding: 0px 10px;
}

.form-check-input:checked+.todolist-des {
    color: #ff5945;
    text-decoration: line-through;

}

.todolist-container {
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden;
    padding-left: 10px; 
  }

   
  .form-control:focus {
    outline: none;
    box-shadow: none !important;
    border-color: inherit;
    border: 1px solid #ff5945 !important;
    transition: none !important;
    height: 36px;
  }