/*Small device*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    h2 {
        font-size: 22px !important;
    }

    .todolister .input-group input {
        font-size: 14px;
    }

    .todolister {
        width: 90%;
        padding: 7%;
    }

    .addbutton {
        font-size: 13px;
        width: 80px;
    }

    .errormsgsize,
    .btn-sm {
        font-size: 10px;
    }

    .form-check label {
        font-size: 11px;
    }

    .form-control:focus {
        height: 33px;
    }
}

/*Medium device*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .todolister {
        width: 90%;
        padding: 7%;
    }
}



/*large device*/
@media only screen and (min-width: 992px) and (min-width: 1200px) {}